* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
nav {
  display: flex;
  padding: 0.9rem 4rem;
  flex-direction: row;
  justify-content: space-between;
  background-color: aquamarine;
}

.rightsection {
  display: flex;
  font-size: 1.2rem;
  gap: 20px;
}

/* intro styling */
.intro-holder {
  display: flex;
  height: 90vh;
  justify-content: space-between;
  padding: 1rem 4rem 1rem 6rem;
  align-items: center;
}
.intro-left {
  font-size: 1.8rem;
}

.image-holder {
  height: 27rem;
  width: auto;
}
.image-holder > img {
  height: 100%;
}

/* service styling */
.service-holder {
  height: 100vh;
  display: flex;
  gap: 40px;
  padding: 1rem;
  /* flex-wrap: wrap; */
}
.service-holder > div {
  padding: 1rem;
  height: 18rem;
  width: 23rem;
  border-radius: 10px;
  background-color: rgb(53, 129, 88);
  margin: 0.4rem 0;
  display: flex;
  flex-direction: column;
  color: rgb(234, 233, 233);
  justify-content: space-between;
  text-align: center;
}
.service-detail {
  text-align: start;
}
.icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
.icon > img {
  border-radius: 50%;
}
