@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.skills {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
